# Customer Churn Analysis and Prediction for a Telecommunications Company

## Objective :
*Identify Factors Leading to Customer Churn: By analyzing customer data, we can determine the key factors that contribute to customers leaving.*

*Predict Future Customer Churn: Using predictive modeling, we can identify customers who are at risk of churning in the future, allowing for proactive retention strategies.*

In [3]:
# Importing liabaries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 1: Load the Data

In [4]:
# Load the Data set
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

# Display the first few rows of the datset
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Step 2: Explore the Data

In [5]:
# Explore the Data

# Describe summary statistics
print(df.describe())

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [6]:
# Information of data set
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None

In [7]:
# Check for missing values
print(df.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### Step 3: Data Cleaning and Preprocessing

In [8]:
# Drop rows with missing values
df_cleaned = df.dropna()

# Verify no missing values remain
print(df_cleaned.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
# Convert categorical variables to dummy variables
df_encoded = pd.get_dummies(df_cleaned,drop_first=True)
# Display the first few rows of the encoded dataset
print(df_encoded.head(5))

   SeniorCitizen  tenure  MonthlyCharges  customerID_0003-MKNFE  \
0              0       1           29.85                  False
1              0      34           56.95                  False
2              0       2           53.85                  False
3              0      45           42.30                  False
4              0       2           70.70                  False

   customerID_0004-TLHLJ  customerID_0011-IGKFF  customerID_0013-EXCHZ  \
0                  False                  False                  False
1                  False                  False                  False
2                  False                  False                  False
3                  False                  False                  False
4                  False                  False                  False

   customerID_0013-MHZWF  customerID_0013-SMEOE  customerID_0014-BMAQU  ...  \
0                  False                  False                  False  ...
1                  False                  False                  False  ...
2                  False                  False                  False  ...
3                  False                  False                  False  ...
4                  False                  False                  False  ...

   TotalCharges_996.45  TotalCharges_996.85  TotalCharges_996.95  \
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

   TotalCharges_997.65  TotalCharges_997.75  TotalCharges_998.1  \
0                False                False               False
1                False                False               False
2                False                False               False
3                False                False               False
4                False                False               False

   TotalCharges_999.45  TotalCharges_999.8  TotalCharges_999.9  Churn_Yes
0                False               False               False      False
1                False               False               False      False
2                False               False               False       True
3                False               False               False      False
4                False               False               False       True

[5 rows x 13602 columns]

### Step 4: Feature Selection

In [10]:
# Calculate the corelation matrix
corelation_matrix = df_encoded.corr()

print(corelation_matrix['Churn_Yes'].sort_values(ascending=False))

### Step 5: Exploratory Data Analysis (EDA)

In [ ]:
# Histograms for Numerical Columns
df_encoded.hist(figsize=(12,10))
plt.tight_layout()
plt.show()

In [ ]:
# Bar Charts for Categorical Variables
categorical_columns = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
                       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 
                       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']
for column in categorical_columns:
    df_cleaned[column].value_counts().plot(kind='bar', title=column)
    plt.show()